%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => root_path} POKEYARU
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => root_path} カード一覧
      %li.nav-item
        %a.nav-link{:href => boxes_path} 拡張BOXから探す
      %li.nav-item.active
        %a.nav-link{:href => genres_path}
          ジャンルから探す
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => rares_path} レアリティから探す
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
.container
  %h2.text-center.mb-3.mt-3 ジャンル一覧
  %table.table.table-striped.text-nowrap
    %thead
      %tr
        %th Name
    %tbody
      - @genres.each do |genre|
        %tr
          %td= genre.name
