.jumbotron.jumbotron-fluid
  .container
    %h1.display-4.text-body ポケモンカードコレクション
    %p.lead.text-body 欲しい情報がすぐわかる！レアカード情報がいっぱい！
.container
  %h2.text-center.mb-3 コレクションカード一覧（新着順）
  - @pokecas.each_slice(3) do |pokecas|
    %ul.list-group.list-group-horizontal-md
      - pokecas.each do |pokeca|
        %li.list-inline-item.card.mb-3.mx-auto{:style => "width: 20rem;"}
          .row
            .col-md-5.mw-100.mh-100
              .card-img
                = image_tag pokeca.image.thumb.url
            .col-md-7
              .card-body
                %h5.card-title.text-truncate= pokeca.name
                %p.card-text.text-black-50.text-truncate= pokeca.box.name
                %p.card-text.text-black-50.text-truncate= link_to '詳細', pokeca